* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.con {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-position: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.se {
    width: 100%;
    max-width: 700px;
    background: rgba(red, green, blue, 0.8);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}